
<script>
    console.log('{{partials.test_partial.1.name}}');
    document.writeln('<p style="color: green;">[Partial View] ' + '{{partials.test_partial.0.name}}' + '是' + '{{partials.test_partial.0.job}}' + '</p>');
    document.writeln('<p style="color: green;">[Partial View] ' + '{{partials.test_partial.1.name}}' + '是' + '{{partials.test_partial.1.job}}' + '</p>');

</script>

